apiVersion: apps/v1
kind: Deployment
metadata:
  name: rpi-monitoring
spec:
  replicas: 1
  selector:
    matchLabels:
      app: monitoring
  template:
    metadata:
      labels:
        app: monitoring
    spec:
      containers:
      - name: monitor
        image: ghcr.io/malizia26/lab-devops:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
      imagePullSecrets:
      - name: ghcr-auth
---
apiVersion: v1
kind: Service
metadata:
  name: monitoring-service
spec:
  type: NodePort
  selector:
    app: monitoring
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30454
